<!DOCTYPE html>
<html lang="en">
<head>
    <title>Trunfo</title>
    <meta http-equiv="Content-Type" content="text/html; charset=UTF-8">
    <script type="text/javascript" src="App/Templates/js/jquery.min.js"></script>
    <script type="text/javascript" src="App/Templates/js/bootstrap.min.js"></script>
	<link href='https://fonts.googleapis.com/css?family=Orbitron' rel='stylesheet' type='text/css'>
    <link href="App/Templates/css/bootstrap.min.css" rel="stylesheet">
    <link href="App/Templates/css/styles.css" rel="stylesheet">
</head>

<body>
    <!-- Header -->
    <div id="top-nav" class="navbar navbar-inverse navbar-static-top">
        <div class="container">
            <div class="navbar-header">
			<a class="navbar-brand" href="index.php">
				<p style="text-align: center;font-family: 'Orbitron', sans-serif; font-size: 2.5em; color: rgba(255, 0, 0, 0.64)">Trunfo</p> 
			</a>
				
            </div>
        </div>
        <!-- /container -->
    </div>
    <!-- /Header -->

    <!-- Main -->
    <div class="container">
        <!-- upper section -->
        <div class="row">
            <div class="col-sm-3">
            </div>
            <!-- /span-3 -->
            <div class="col-sm-9">

                <div class="row">
                    <!-- center left-->
                    <div class="col-sm-9">
                       {content}
                    </div>
                    <!--/col-->
                </div>
                <!--/row-->
            </div>
            <!--/col-span-9-->

        </div>
        <!--/row-->
        <!-- /upper section -->

    </div>
    <!--/container-->
    <!-- /Main -->
</body>

<br>
</html>