<!DOCTYPE html>

<html lang="pt">
    <head>
       <meta name="viewport" content="width=device-width, initial-scale=1">
       <link  rel="stylesheet" type="text/css" href="App/Templates/css/styles.css" >
       <link rel="stylesheet" media="only screen and (max-width: 700px)" href="stylesheettablet.css">
       <link rel="stylesheet" media="only screen and (max-width: 500px)" href="stylesheetphone.css">
       <link rel="stylesheet" href="http://maxcdn.bootstrapcdn.com/bootstrap/3.3.6/css/bootstrap.min.css">
       <link href="https://fonts.googleapis.com/css?family=Lato:100" rel="stylesheet" type="text/css">
       <link href='https://fonts.googleapis.com/css?family=Indie+Flower' rel='stylesheet' type='text/css'>
       <link href='https://fonts.googleapis.com/css?family=Orbitron' rel='stylesheet' type='text/css'>
       
       <script src="https://ajax.googleapis.com/ajax/libs/jquery/1.12.0/jquery.min.js"></script>
       <script src="http://maxcdn.bootstrapcdn.com/bootstrap/3.3.6/js/bootstrap.min.js"></script>
       <script src="App/Templates/jsc/Chart.min.js"></script>
       
       <script type="text/javascript">

            var randomnb = function () {
                return Math.round(Math.random() * 300)
            };
      </script>
      
        <title>Trunfo</title>
        
    </head>

    <body>
		<!-- Gera Grafico Start -->
        <script type="text/javascript">
            var options = {
                responsive: true
            };

            var data = [
                {
                    value: randomnb(),
                    color: "#F7464A",
                    highlight: "#FF5A5E",
                    label: "Informática"
                },
                {
                    value: randomnb(),
                    color: "#46BFBD",
                    highlight: "#5AD3D1",
                    label: "Logistica"
                },
                {
                    value: randomnb(),
                    color: "#FDB45C",
                    highlight: "#FFC870",
                    label: "Administração"
                }
            ]

            window.onload = function () {

                var ctx = document.getElementById("GraficoDonut").getContext("2d");
                var PizzaChart = new Chart(ctx).Doughnut(data, options);
            }
        </script>
		<!-- Gera Grafico End -->
		
      
                <div>{content}</div>
      
	
                     
    </body>
</html>