<!DOCTYPE html>

<html lang="en">
    <head>
		<meta http-equiv="Content-Type" content="text/html; charset=iso-8859-1"> 
        <meta name="viewport" content="width=device-width, initial-scale=1">
       <link rel="stylesheet" href="http://maxcdn.bootstrapcdn.com/bootstrap/3.3.6/css/bootstrap.min.css">
        <link href="https://fonts.googleapis.com/css?family=Lato:100" rel="stylesheet" type="text/css">
        <link href='https://fonts.googleapis.com/css?family=Indie+Flower' rel='stylesheet' type='text/css'>
        <link href='https://fonts.googleapis.com/css?family=Orbitron' rel='stylesheet' type='text/css'>
        <script src="https://ajax.googleapis.com/ajax/libs/jquery/1.12.0/jquery.min.js"></script>
        <script src="http://maxcdn.bootstrapcdn.com/bootstrap/3.3.6/js/bootstrap.min.js"></script>
        <script src="App/Templates/jsc/Chart.min.js"></script>
        <script type="text/javascript">

            var randomnb = function () {
                return Math.round(Math.random() * 300)
            };
        </script>
        <title>Trunfo</title>
       
    </head>

    <body>
		<!-- Gera Grafico Start -->
        <script type="text/javascript">
            var options = {
                responsive: true
            };

            var data = [
                {
                    value: randomnb(),
                    color: "#F7464A",
                    highlight: "#FF5A5E",
                    label: "Informática"
                },
                {
                    value: randomnb(),
                    color: "#46BFBD",
                    highlight: "#5AD3D1",
                    label: "Logistica"
                },
                {
                    value: randomnb(),
                    color: "#FDB45C",
                    highlight: "#FFC870",
                    label: "Administração"
                }
            ]

            window.onload = function () {

                var ctx = document.getElementById("GraficoDonut").getContext("2d");
                var PizzaChart = new Chart(ctx).Doughnut(data, options);
            }
        </script>
		<!-- Gera Grafico End -->
		
		<!-- Cabeçalho Site Start-->
        <div class="container-fluid">

            <div class="row">
                <div class="col-sm-3"> 
					
					<!-- Imagem Start-->
                    <a href="http://www.etecjk.com/">
                        <img class="img-responsive" src="App/Images/logo-2.png" alt="JK" style="padding: 2em">
                    </a>
                    <!-- Imagem End-->
					
					
					<!-- Menu Start-->
					<nav class="navbar navbar-light ">
                        <div class="container-fluid">
						
							<!-- Menu Mobile Start-->
                            <div class="navbar-header">
                                <button type="button" class="navbar-toggle" data-toggle="collapse" data-target="#myNavbar">
                                    <span class="icon-bar"></span>
                                    <span class="icon-bar"></span>
                                    <span class="icon-bar"></span> 
                                </button>
                                <a class="navbar-brand" href="#"><span class="glyphicon glyphicon-home"></span></a>
                            </div>
							<!-- Menu Mobile End-->
							
							<!-- Menu Desk Start-->
                            <div class="collapse navbar-collapse" id="myNavbar">
				
                                <ul class="nav navbar-nav">
                                    <li><a href="index.php?class=LoginForm"><span class="glyphicon glyphicon-wrench img-responsive"></span></a></li>
                                    <li><a href=""><span class="glyphicon glyphicon-info-sign img-responsive"></span></a></li> 
                                   <!--  <li><a href=""><span class="glyphicon glyphicon-envelope img-responsive"></span></a></li> -->
                                </ul>
                              
								
								
								
                            </div>
							<!-- Menu Desk End-->
							
                        </div>
                    </nav>     
						
					<!-- Menu End-->
					
                </div>
				
				<!-- Menu Pesquisa Start-->
				
                <div class="col-sm-6">

                    <p style="text-align: center;font-family: 'Orbitron', sans-serif; font-size: 4.5em; color: rgba(255, 0, 0, 0.64)">Trunfo</p>           
				<!-- 
                    <div class="form-group">
                        <div class="input-group">
                            <input type="text" class="form-control" placeholder="Pesquisar...">
                            <span class="input-group-btn">
                                <button class="btn btn-info" type="button"><span class="glyphicon glyphicon-search"></span></button>
                                <button type="button" class="btn btn-primary" data-toggle="collapse" data-target="#demo" ><span class="	glyphicon glyphicon-chevron-down"></span></button>
                            </span>
                        </div>
                    </div>


                    <div id="demo" class=" collapse" >

                        <div class="row" >

                            <div class="col-sm-4" >
                                <div class="form-group">

                                    <select class="form-control" id="sel1">
                                        <option>Informatica</option>
                                        <option>Logistica</option>
                                        <option>Administração</option>
                                        <option>Contabilidade</option>
                                    </select>
                                </div>
                            </div>

                            <div class="col-sm-4" >
                                <div class="form-group">
                                    <select class="form-control" id="sel1">
                                        <option>Matutino</option>
                                        <option>Vespertino</option>
                                        <option>Noturno</option>
                                    </select>
                                </div>
                            </div>

                            <div class="col-sm-4" >

                                <div class="form-group">
                                    <select class="form-control" id="sel1">
                                        <option>São Paulo</option>
                                        <option>Diadema</option>
                                        <option>Santo André</option>
                                    </select>
                                </div>
                            </div>
                        </div>

                    </div>

				-->
                </div>  
				
				<!-- Menu Pesquisa End-->
				
				
				<!-- Grafico Pizza Start-->
                <div class="col-sm-3" style="padding: 1em">  
                    <canvas id="GraficoDonut" style="width:100%; padding: 0em"></canvas>
                </div>
				<!-- Grafico Pizza End-->

				<!-- Modal Form Vaga por email Start-->
                <div id="formVaga" class="modal fade" role="dialog">
                    <div class="modal-dialog">

                        <!-- Modal content-->
                        <div class="modal-content">
                            <div class="modal-header">
                                <button type="button" class="close" data-dismiss="modal">&times;</button>
                                <h4 class="modal-title">Receba Novas Vagas</h4>
                            </div>
                            <p>Escolha o curso e entre com o email!</p>
                            <div class="modal-body">
                                <div class="form-group">
                                    <div class="checkbox">
                                        <label><input type="checkbox"> Informática</label>
                                    </div>
                                    <div class="checkbox">
                                        <label><input type="checkbox"> Logistica</label>
                                    </div>
                                    <div class="checkbox">
                                        <label><input type="checkbox"> Administração</label>
                                    </div>
                                </div>
                                <form class="form-inline" role="form">
                                    <div class="form-group">
                                        <label for="email">Email:</label>
                                        <input type="email" class="form-control" id="email">
                                    </div>
                                </form>
                            </div>
                        </div>
                    </div>
                </div>
				<!-- Modal Form Vaga por email End-->
            </div>

        </div>
		<!-- Cabeçalho Site End-->
		
                    <div>{content}</div>
    </body>
</html>